:root {
    --clr-dark: rgb(34, 40, 49);
    --clr-light: rgb(255, 247, 233);
    --clr-gray: rgba(107, 114, 128, 0.651);
    --clr-primary: rgb(223, 246, 255);
    --clr-secondary: rgb(33, 146, 255);
    --clr-thrid: rgb(37, 109, 133);
}

body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
    background: var(--clr-secondary) !important;
}

.nav-logo {
    height: 40px;
    margin-bottom: 5px;
}

.nav-logo:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: all 0.2s ease-out;
    box-shadow: 5px 5px 5px var(--clr-dark);
    top: -4px;
    border: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.nav-link {
    font-family: 'Silkscreen', cursive;
    font-weight: 500;
    font-size: 18px;
    color: var(--clr-dark) !important;
}

.nav-link:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: all 0.2s ease-out;
    box-shadow: 5px 5px 5px var(--clr-dark);
    top: -4px;
    border: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}


/* about me */
.section-one {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 2s infinite alternate linear;
}

.main-header {
    font-family: 'Silkscreen', cursive;
    font-size: 48px;
    font-weight: bold;
    color: var(--clr-primary);
}

@media (max-width: 844px) {
    .main-header { 
        font-size: 35px;
        padding-top: 40px;
    }
}

.text-name {
    color: var(--clr-secondary);
    font-size: 35px;
}

@media (max-width: 844px) {
    .text-name { 
        font-size: 40px;
        color: var(--clr-dark);
    }
}

.text-content {
    color: var(--clr-primary);
    font-size: 16px;
}

.my-photo {
    height: 500px;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.my-photo:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: all 0.2s ease-out;
    box-shadow: 5px 10px 5px var(--clr-gray);
    top: -4px;
    border: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

@media (max-width: 844px) {
    .my-photo { 
        margin-top: 50px;
        height: 400px;
    }
}


/* project section */
.section-two {
    background: var(--clr-primary);
}

.section-header {
    font-family: 'Silkscreen', cursive;
    font-weight: 500;
    padding-top: 30px;
    color: var(--clr-dark);
}

.text-title {
    color: var(--clr-dark);
}

.card-img-top {
    object-fit: cover;
}

.card-body {
    background: var(--clr-light);
    height: 230px;
}

.card-title {
    font-family: 'Silkscreen', cursive;
}

.card {
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(102, 101, 101, 0.116);
    margin-bottom: 30px;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 5px 10px 5px var(--clr-dark);
    top: -4px;
    border: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}


/* footer section */
.footer-section {
    font-family: 'Silkscreen', cursive;
    font-weight: 500;
    padding-top: 10px;
    color: var(--clr-light);
}

.footer-title {
    color: var(--clr-light);
}

footer ul {
    padding: 0 !important;
}

footer{
    position: relative;
    width: 100%;
    background-color: var(--clr-thrid);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .contact-icon li {
    list-style: none;
}

footer .contact-icon li a {
    font-size: 40px;
    padding-top: 20px;
    color: var(--clr-primary);
    margin: 0 0px;
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

footer .contact-icon li a:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

footer p {
    color: var(--clr-primary);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
